<div>
    <ng-container *ngIf="store$ | async as store">
        <h1>{{ store.name }}</h1>
        <!-- p>{{ store | json }}</p -->

        <mat-accordion multi="true">
            <ng-container *ngFor="let item of store.object; trackBy: identifyer">
                <mat-expansion-panel *ngIf="item?.Info?.Name">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.Info.Name}} ({{item.Time}})
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <ng-template matExpansionPanelContent>
                            <app-store-diag-detailled
                              [diagID]="item._id" 
                              [storeName]="store.name">
                            </app-store-diag-detailled>
                        </ng-template>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </ng-container>
</div>